html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */


body {
    background: #fff;
    padding: 15px;
    color: #333;
    font: 17px ‘Trebuchet MS’, Helvetica, sans-serif;
}

#logo {
	text-align: center;
	font-size: 35px;
}

#logo #comment{
	text-align: center;
	font-size: 12px;	
}

#content {
	width: 750px;
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
  	margin-left: auto ;
  	margin-right: auto ;
}


/* NAVIGATION MENU */
#nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
    text-align: center;
}

a {
	padding: 3px;
	border: 1px solid #ccc;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #48802c;
    font-weight: bold;
    font-size: 22px;
    margin: 15px 0px;
    width: 100%;
    border-bottom: 1px solid #48802c;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    margin: 2px 0;
    padding: 2px 4px;
}

select {
   padding: 2px 2px 2px 0;
}

textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}


/* FORMS */
.formRow {
	padding: 5px;	
}

.formRow label {
	width: 180px;
	display: block;
	float: left;
	font-weight: bold;	
}

/* POSTS */
.postSelector{
	margin: 20px 0px;
	font-size: 12px;	
}

.postSelector select, input{
	font-size: 12px;	
}

.shortPost{
	padding: 15px 0px;	
}

.shortPost .upperLine{
	padding: 5px;
	background: #A9D991;
}

.shortPost .upperLine a{
	padding: 5px;
	background: #A9D991;
	border: 1px solid white;
}

.postPart {
	margin: 10px 0px;;	
}
	
.postPart .type {
	background: #D6ECCB;	
}

.postPart .text {
	
}

/* MESSAGES AND ERRORS */
.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}


/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* ACTION BUTTONS */
.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
